
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="clipper-trace bitmap to SVG conversion tools">
    <meta name="author" content="Mat Gilbert">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>clipper-trace - {{title}}</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{baseURI}}/public/css/cover.css" rel="stylesheet">
    <link href="{{baseURI}}/public/css/main.css" rel="stylesheet">

    <base href="{{baseURI}}">

  </head>

  <body class="text-center">

    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
      
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><a href="/">clipper-trace</a></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/images/create">Trace</a>
            <a class="nav-link" href="/events">Events</a>
            <a class="nav-link" href="/uploads">Uploads</a>
            <a class="nav-link" href="/images">Images</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">

        {{./baseURL}}

        {{{content}}}

      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>clipper-trace by <a href="http://www.matgilbert.com/">matgilbert</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
    <!--<script src="../../../../assets/js/vendor/popper.min.js"></script>-->
    <!-- <script src="../../../../dist/js/bootstrap.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {{#if options.developmentMode}}
        <script src="{{baseURI}}/public/js/main.js"></script>
    {{else}}
        <script src="{{baseURI}}/public/js/main.min.js"></script>
    {{/if}}

    {{#> scripts-block}}
        {{!-- Custom scripts per page can be added. --}}
    {{/scripts-block}}

  </body>
</html>
